<div class="starter-template" ng-controller="GameController">
	<h1>Game</h1>
	Player: {{playerName}}
	
	<div ng-if="gameState == 'NoGame'">
		No game in progress
		<br /><br />
		 <div class="form-group">
    		<label for="playerNameLabel">Your Name</label>
    		<input type="text" class="form-control" id="playerNameInput" placeholder="Your Name" ng-model="providedPlayerName">
  		</div>
		<button type="button" class="btn btn-default" ng-click="createGame(providedPlayerName);">Start new Game</button>
	</div>
	
	<div ng-if="gameState != 'NoGame'">
		Game started at {{started}}<br />
		Round: {{currentRound}}
		<br /><br />
		<button type="button" class="btn btn-default" ng-click="resetGame();">Reset Game</button>
	</div>
</div>